---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Base from "./Base.astro";

type Props = CollectionEntry<"articles">["data"];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<Base title={title} description={description}>
  <article>
    <div class="flex-0 border-l-2 border-cyan-500 pl-1 text-sm">
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    <h1 class="mt-4 mb-4 text-3xl font-bold tracking-tight sm:text-4xl">
      {title}
    </h1>
    <div class="flex-1 flex gap-2 text-xs">
      {
        tags.map((tag) => {
          return (
            <span class="rounded-md px-2 py-1 bg-zinc-200 dark:bg-gray-700  ">
              {tag}
            </span>
          );
        })
      }
    </div>
    <p class="mt-4 text-2xl leading-8">
      {description}
    </p>
    <slot />
  </article>
</Base>
